extends layout

block content

  #menu
    #idea-desc
      #idea-desc-top
        #idea-desc-top-title= challenge.name

      .spacer
      #idea-description-right
        #description-stats
          #description-stats-left
            .description-stats-score= challenge.created
            = " created "
          #description-stats-separator= "|"
          #description-stats-right
            .description-stats-score= challenge.merged
            = " merged "
          #description-stats-bottom
            p= challenge.users.length + " users"
        #description-logo
          img(src='#{challenge.logo}', width='150px', max-height='300px')

      #idea-description
        h5!= challenge.description

      #idea-tags
        - each a in challenge.admins
          p= a

      #idea-desc-buttom
        #idea-desc-buttom-left
          a(href='/challenges/' + challenge.link + '/refresh') Refresh
          a(href='/challenges/' + challenge.link + '/join') Join

      .spacer

  #content
    .left
      - if (currentUrl == '/challenges/' + challenge.link)
        h2 Repositories
        - if (challenge.repos.length != 0)
          - for (var r=0; r<challenge.repos.length; r++)
            a(href='http://github.com/' + challenge.repos[r])= challenge.repos[r]
            p= challenge.created_no[r] + "/" + challenge.merged_no[r]
            br
        - else
          p There are no repos set for this challenge.

        h2 Time
        p= "Start date: " + challenge.start_f
        p= "End date: " + challenge.end_f

        h2 About
        p= challenge.email

      - if (currentUrl == '/challenges/' + challenge.link + '/pulls')
        h2 List of pull requests
        - each p in pulls
          p= p.auth
          a(href='#{p.url}')= p.title
          p= p.created
          p= p.merged

      - if (currentUrl == '/challenges/' + challenge.link + '/admin')
        h2 Challenge status
        - if (challenge.status == 'tease')
          h5 Challenge is currently teasing. Add more info and start it.
        - if (challenge.status == 'live')
          h5 Challenge is currently live.
        - if (challenge.status == 'closed')
          h5 Challenge is closed.

        .spacer
        h2 Repository
        - each r in challenge.repos
          p= r

        .spacer
        h2 Settings
        form(method='post', action='/challenges/' + challenge.link + '/edit')
          label Challenge name
          input.span5(name='name', type='text', value='#{challenge.name}', required)

          label Challenge status
          select.selectpicker.span5(name='status', type='text')
            option tease
            option live
            option closed

          label Add repo (user/repo)
          input.span5(name='repos', type='text')
          p To add more, space separe items.

          label Contact email
          input.span5(name='email', type='text', value='#{challenge.email}')

          label Logo
          input.span5(name='logo', type='text', value='#{challenge.logo}')

          label Description
          textarea.span7(name='description', id='no_resize_textarea', rows='4')= challenge.description

          label= "Start / End date (DD/MM/YYYY): "
          input.span2.datepicker(name='start', type='text', value='#{challenge.start_f}')
          = " / "
          input.span2.datepicker(name='end', type='text', value='#{challenge.end_f}')

          br
          input.btn.btn-success(type='submit', value='Save')

        .spacer
        h2 Manage admins
        - each a in challenge.admins
          p= a + " "
            a(href='/challenges/' + challenge.link + '/admin_remove?name=' + a) Remove
        form(method='post', action='/challenges/' + challenge.link + '/admin_add')
          input.span5(name='admin', type='text', required)
          br
          input.btn.btn-success(type='submit', value='Add admin')

      - if (currentUrl == '/challenges/' + challenge.link + '/users')
        h2 Participants
        - each u in challenge.users
          p= u


    .right
      .submenu
        - if (currentUrl == "/challenges/" + challenge.link)
          .submenu-item-selected About
        - else
          a(href='/challenges/' + challenge.link)
            .submenu-item About
        - if (currentUrl == "/challenges/" + challenge.link + '/pulls')
          .submenu-item-selected Commits
        - else
          a(href='/challenges/' + challenge.link + '/pulls')
            .submenu-item Commits
        - if (currentUrl == "/challenges/" + challenge.link + '/users')
          .submenu-item-selected Participants
        - else
          a(href='/challenges/' + challenge.link + '/users')
            .submenu-item Participants
        - if (user && user.admin)
          - if (currentUrl == '/challenges/' + challenge.link + '/admin')
            .submenu-item-selected Admin
          - else
            a(href='/challenges/' + challenge.link + '/admin')
              .submenu-item Admin

  .spacer
