extends layout

block content

  #menu
    #idea-desc
      #idea-desc-top
        #idea-desc-top-title= challenge.name


      .spacer
      #idea-description
        h5!= challenge.description


      - each r in challenge.repos
        p= r
      p= "Start date: " + challenge.start_f
      p= "End date: " + challenge.end_f
      p= "Logo: " + challenge.logo
      p= challenge.email
      p= challenge.interval
      p= "Users count: " + challenge.users.length
      p= "Created pulls: " + challenge.created
      p= "Merged pulls: " + challenge.merged


      #idea-tags
        - each a in challenge.admins
          p= a

      .spacer
      #idea-desc-buttom
        a(href='/challenges/' + challenge.link + '/refresh') Refresh
      a(href='/challenges/' + challenge.link + '/join') Join
      .spacer

  #content
    .left
      - if (currentUrl == '/challenges/' + challenge.link)
        h2 Info
        - each p in pulls
          p= p.auth
          a(href='#{p.url}')= p.title
          p= p.created
          p= p.merged

      - if (currentUrl == '/challenges/' + challenge.link + '/admin')
        h2 Challenge status
        - if (challenge.status == 'tease')
          h5 Challenge is currently teasing. Add more info and start it.
        - if (challenge.status == 'live')
          h5 Challenge is currently live.
        - if (challenge.status == 'closed')
          h5 Challenge is closed.

        .spacer
        h2 Repository
        - each r in challenge.repos
          p= r

        .spacer
        h2 Settings
        form(method='post', action='/challenges/' + challenge.link + '/edit')
          label Challenge name
          input.span5(name='name', type='text', value='#{challenge.name}', required)

          label Challenge status
          select.selectpicker.span5(name='status', type='text')
            option tease
            option live
            option closed

          label Add repo (user/repo)
          input.span5(name='repos', type='text')
          p To add more, space separe items.

          label Contact email
          input.span5(name='email', type='text', value='#{challenge.email}')

          label Logo
          input.span5(name='logo', type='text', value='#{challenge.logo}')

          label Description
          textarea.span7(name='description', id='no_resize_textarea', rows='4')= challenge.description

          label= "Start / End date (DD/MM/YYYY): "
          input.span2.datepicker(name='start', type='text', value='#{challenge.start_f}')
          = " / "
          input.span2.datepicker(name='end', type='text', value='#{challenge.end_f}')

          br
          input.btn.btn-success(type='submit', value='Save')

        .spacer
        h2 Manage admins
        - each a in challenge.admins
          p= a + " "
            a(href='/challenges/' + challenge.link + '/admin_remove?name=' + a) Remove
        form(method='post', action='/challenges/' + challenge.link + '/admin_add')
          input.span5(name='admin', type='text', required)
          br
          input.btn.btn-success(type='submit', value='Add admin')

      - if (currentUrl == '/challenges/' + challenge.link + '/users')
        h2 Participants
        - each u in challenge.users
          p= u


    .right
      .submenu
        - if (currentUrl == "/challenges/" + challenge.link)
          .submenu-item-selected Info
        - else
          a(href='/challenges/' + challenge.link)
            .submenu-item Info
        - if (currentUrl == "/challenges/" + challenge.link + '/users')
          .submenu-item-selected Participants
        - else
          a(href='/challenges/' + challenge.link + '/users')
            .submenu-item Participants
        - if (user && user.admin)
          - if (currentUrl == '/challenges/' + challenge.link + '/admin')
            .submenu-item-selected Admin
          - else
            a(href='/challenges/' + challenge.link + '/admin')
              .submenu-item Admin

  .spacer
