extends layout

block content
  - if(!everyauth.loggedIn)
    .announcement
      .announcement-inner
        p You need to 
          a(href='/login') login
          |  to comment or post your own ideas.

  #menu
    - if (!idea)
      - if (everyauth.loggedIn)
        form(method='post', action='/ideas')
          #idea-new
            .left-mini
              h1 Add new idea

                label Title
                  br
                  input.span5(name='title', type='text')
                label Project Size
                  br
                  select.selectpicker.span5(name='size', type='text')
                    option Small
                    option Medium
                    option Large
                label Preffered language
                  br
                  select.selectpicker.span5(name='size', type='text')
                    option C/C++
                    option Java
                    option Ruby

            .right-mini
              label ETA
                br
                input.datepicker(name='eta', type='text')
              label Plan
                br
                textarea(name='plan')

            .center-mini
              label Description
                br
                textarea.span11(name='description', rows="4")
              input.btn.btn-success(type='submit', value='Save')

    - else
      #idea-desc
        h1= idea.title
        h1= idea.description
        h1= idea.comments_num
        a(href="/idea/fav?id=" + idea._id) Fav
        a(href="/teams?id=" + idea._id) Join team
    
  #content 
    - if (ideas)
      h1 Ideas list
      #idea-table-header
        ul
          li
            a(href='/ideas' + tab + '?sort=most_recent') Most recent
          li
            a(href='/ideas' + tab + '?sort=most_viewed') Most visited
          li
            a(href='/ideas' + tab + '?sort=most_commented') Most commented

      .left
        .ideas-bubble
          - each idea in ideas
            .idea
              .idea-title
                .idea-title-text
                  a(href='/idea?id=' + idea._id)= idea.title
                a(href='/idea/fav?id=' + idea._id)
                  .idea-title-fav
              .idea-content
                p= idea.title + " / " + idea.plan + " / " + idea.description + "/" + idea.date_post

      .right
        .submenu
          a(href='/ideas')
            - if (tab)
              .submenu-item All
            - else
              .submenu-item-selected All
          a(href='/ideas/favorites')
            - if (tab == "/favorites")
              .submenu-item-selected Favorites
            - else
              .submenu-item Favorites
          a(href='/ideas/user')
            - if (tab == "/user")
              .submenu-item-selected Mine
            - else
              .submenu-item Mine


    - else if (idea)

      - if (tab == "/team")
        .left
          p teams here

      - else if (tab == "/plan")
        .left
          p plan here

      - else
        .left
          - if (comments)
            - if (comments.length != 0)
              - each c in comments
                .comment
                  p= c.uid + "  " + c.content

              .comment
                - if (everyauth.loggedIn)
                  form(method='post', action='/idea_comm')
                    input(name='who', value=global.id, hidden)
                    input(name='where', value=idea._id, hidden)
                    textarea(name='content')
                    input(type='submit', value='Comment')
                - else
                  h1 Login to post comments.
    
            - else
              h1 no comments

      .right
        a(href='/idea?id=' + idea._id)
          - if (tab == "")
            .submenu-item-selected Comments
          - else
            .submenu-item Comments
        a(href='/idea/team?id=' + idea._id)
          - if (tab == "/team")
            .submenu-item-selected Team
          - else
            .submenu-item Team
        a(href='/idea/plan?id=' + idea._id)
          - if (tab == "/comments")
            .submenu-item-selected Plan
          - else
            .submenu-item Plan
        - if (everyauth.loggedIn)
          a(href='/idea/settings?id=' + idea._id)
            - if (tab == "/settings")
              .submenu-item-selected Settings
            - else
              .submenu-item Settings
