extends layout

block content
  - if(!everyauth.loggedIn)
    .announcement
      .announcement-inner
        p You need to
          a(href='/login') login
          |  to comment or post your own ideas.
    .spacer
    .spacer

  #menu
    #idea-desc
      #idea-desc-top
        .ideas-desc-top-square
          =idea.comments_num
          h5 comments
        .ideas-desc-top-square
          =idea.team.length
          h5 members
        #idea-desc-top-title= idea.title
        | Posted #{idea.date_post_f}.


      .spacer
      #idea-description
        h5!= idea.description

      #idea-tags
        p= "#" + idea.size + " #" + idea.lang + " #" + idea.eta

      .spacer
      #idea-desc-buttom
        #idea-desc-buttom-right
          img(src=cuser.avatar_url, width="50px", height="50px")
          a(href='/' + cuser.user_name)= cuser.user_name
          br
          | last seen #{cuser.last_seen_f}

        - if (!user)
          a(href="/login?rf=fav")
            input.btn.btn-success(type='submit', value='Fav').idea-desc-buttom-btn
        - if (user && !user.faved)
          a(href="/idea/fav?id=" + idea._id)
            input.btn.btn-success(type='submit', value='Fav', disabled).idea-desc-buttom-btn
        - if (user && user.faved)
          a(href="/idea/unfav?id=" + idea._id)
            input.btn.btn-success(type='submit', value='UnFav', disabled).idea-desc-buttom-btn

        - if (user && idea.uid == user.user_id)
          a(href="/idea/settings?id=" + idea._id)
            input.btn.btn-success(type='submit', value='Edit').idea-desc-buttom-btn

        - else
          - if (user && !user.joined)
            a(href="/idea/team/join?id=" + idea._id)
              input.btn.btn-success(type='submit', value='Join Team').idea-desc-buttom-btn
          - if (!user)
            a(href="/login?rf=join_team")
              input.btn.btn-success(type='submit', value='Join Team').idea-desc-buttom-btn
          - if (user && user.joined)
            input.btn.btn-success(type='submit', value='Joined', disabled).idea-desc-buttom-btn

        .spacer
      .spacer

  #content
    - if (currentUrl == "/idea/team")
      .left
        - if (team && team.length != 0)
          - each u in team
            .team-member
              .team-member-avatar
                img(src=u.avatar_url)
              a(href='/' + u.user_name)= u.user_name
              p= u.points_repos
              p Last seen #{u.last_seen_f}.
        - else
          h1 No members yet. Join in.

    - else if (currentUrl == "/idea/plan")
      .left
        .left-plan
          - if (idea.plan.length != 0)
            p!= idea.plan_md
          - else
            h1 Nothing planned at this moment.

          - if (user && idea.uid == user.user_id)
            a(href="/idea/plan/edit?id=" + idea._id)
              input.btn.btn-success(type='submit', value='Edit')

    - else if (currentUrl == "/idea/plan/edit")
      .left
        .left-plan
          h3 Edit current plan
          form(method='post', action='/idea/plan/edit?id=' + idea._id)
            textarea.span9(name='plan', rows="10")= idea.plan
            input.btn.btn-success(id='plan', type='submit', value='Update')

    - else if (currentUrl == "/idea/settings")
      .left
        h3 Status
        - if (idea.plan.length != 0)
          .plan-stat-done You have a purpose, you have a
            a(href='/idea/plan?id=' + idea._id)  plan.
        - else
          .plan-stat Make a plan. You can't go anywhere without a map.
        - if (idea.size == 'Small' && idea.team.length == 3 || idea.size == 'Medium' && idea.team.length == 5 || idea.size == 'Large' && idea.team.length == 10)
          .plan-stat-done Go team go! All
            a(href='/idea/team?id=' + idea._id)= " " + idea.team.length + " teammates "
            | are set up.

          - if (idea.plan.length != 0)
            .plan-stat-done Create a repo now.
          - else
            .plan-stat You need some prep before creating a repo.
        - else
          .plan-stat You need more help. Find some people to join your quest.
          .plan-stat You need some prep before creating a repo.

        br
        h3 Edit your idea
          br
          form(method='post', action='/idea/edit?id=' + idea._id)
            label Preffered language
              br
              select.selectpicker.span5(name='lang', type='text')
                option C/C++
                option C#
                option F#
                option Java
                option Javascript
                option Objective-C
                option PHP
                option Python
                option Ruby
                option Other

            label Description
              br
              textarea.span8(name='description', id='no_resize_textarea', rows="4")= idea.description
            input.btn.btn-success(id='sub', type='submit', value='Update')

        br
        h3 Remove your idea
        form(method='post', action='/idea/remove?id=' + idea._id)
          input.btn.btn-danger(id='rmv', type='submit', value='Remove this idea', onclick="return ideaDelete(this.rmv)")
          b  It cannot be undone.

    - else
      .left
        - if (comments && comments.length != 0)
          - each c in comments
            .comment
              a(href='/' + c.user_name)= c.user_name + ": "
              = c.content
              .comment-bottom
                .upvotes(id="#{c._id}#")= c.upvotes.length
                - if (c.upvote)
                  .upvoted(id="#{c._id}")
                - else
                  .upvote(id="#{c._id}")
                - if (c.flag)
                  .flagged(id="#{c._id}f")
                - else
                  .flag(id="#{c._id}f")
                | Posted #{c.date_f}.
        - else
          h1 Be the first one to comment.

        - if (everyauth.loggedIn)
          .comment
            form(method='post', action='/ideas/comment?id=' + idea._id)
              textarea.span5(name='content', type='text')
              input.btn.btn-success(type='submit', value='Comment')

    .right
      a(href='/idea?id=' + idea._id)
        - if (currentUrl == "/idea")
          .submenu-item-selected Comments
        - else
          .submenu-item Comments
      a(href='/idea/team?id=' + idea._id)
        - if (currentUrl == "/idea/team")
          .submenu-item-selected Team
        - else
          .submenu-item Team
      a(href='/idea/plan?id=' + idea._id)
        - if (currentUrl == "/idea/plan" || currentUrl == "/idea/plan/edit")
          .submenu-item-selected Plan
        - else
          .submenu-item Plan
      - if (user && idea.uid == user.user_id)
        a(href='/idea/settings?id=' + idea._id)
          - if (currentUrl == "/idea/settings")
            .submenu-item-selected Settings
          - else
            .submenu-item Settings
  .spacer
