extends layout

block content
  - if(!everyauth.loggedIn)
    .announcement
      .announcement-inner
        p= "You need to "
          a(href='/login') login
          |  to comment or post your own ideas.
    .spacer

  #menu
    - if (everyauth.loggedIn)
      form(method='post', action='/ideas', onSubmit='return checkdate(this.mydate)')
        #idea-new
          //input.btn.btn-success(type='button', id='add-btn', value='+')
          h1 Add a new idea
          .left-box
            #left-mini-title
              label Title *
                br
                input.span5(id='idt', name='title', type='text', required)
            .left-mini
              label Project Size
                br
                select.selectpicker.span5(name='size', type='text')
                  option Small
                  option Medium
                  option Large
              label Preffered language
                br
                select.selectpicker.span5(name='lang', type='text')
                  - each l in lang_opt
                    option= l

          .right-mini
            label Delivery time
              br
              input.span5.datepicker(name='eta', type='text')
            label Description *
              br
              textarea.span5(name='description', id='no_resize_textarea', rows='4')


          .center-mini
            label Plan
              br
            textarea.span11(name='plan', id='no_resize_textarea', rows="4")
            input.btn.btn-success(id='sub', type='submit', value='Save')


  #content
    .left
      - if (ideas.length != 0)
        h1 Ideas list

        .search
          form(method='POST', action='')
            input.span4(type='text', id='search_box', placeholder='Ideas filter . . .')
            select.selectpicker.span2.pull-right.ideas-search-fields(id='select-lang', name='lang')
              option -Language-
              - each l in lang_opt
                option= l

            select.selectpicker.span2.pull-right.ideas-search-fields(id='select-size', name='size')
              option -Size-
              option Small
              option Medium
              option Large

        #idea-table-header
          ul
            li
              - if (sort == "most_recent")
                | Most recent
              - else
                a(href=currentUrl + '?sort=most_recent') Most recent
            li
              - if (sort == "most_viewed")
                | Most visited
              - else
                a(href=currentUrl + '?sort=most_viewed') Most visited
            li
              - if (sort == "most_commented")
                | Most commented
              - else
                a(href=currentUrl + '?sort=most_commented') Most commented

        .ideas-bubble
          - each idea in ideas
            .idea
              .idea-title
                .idea-title-text
                  a(href='/idea?id=' + idea._id)= idea.title

                - if (!idea.fav)
                  .idea-title-fav(id='#{idea._id}')
                - else
                  .idea-title-fav-selected(id='#{idea._id}')

              .idea-content
                p(class='lang', hidden='hidden')= idea.lang
                p(class='size', hidden='hidden')= idea.size
                p= idea.description
              .idea-footer
                .idea-footer-left
                  .idea-footer-comments
                    = idea.comments_num
                .idea-footer-right
                  | by
                  a(href='/' + idea.user_name)= " " + idea.user_name
                  | , #{idea.date_post_f}

      - else
        - if (currentUrl == "/ideas_fav")
          h3 You have no favorite ideas.
        - if (currentUrl == "/ideas_user")
          h3 You have not added any ideas.

    .right
      .submenu
        - if (currentUrl == "/ideas")
          .submenu-item-selected All
        - else
          a(href='/ideas')
            .submenu-item All

        - if (currentUrl == "/ideas_fav")
          .submenu-item-selected Favorites
        - else
          a(href='/ideas_fav')
            .submenu-item Favorites

        - if (currentUrl == "/ideas_user")
          .submenu-item-selected Mine
        - else
          a(href='/ideas_user')
            .submenu-item Mine

    .spacer
