extends layout

block content
  #menu

  #content
    .profile-left
      .profile-avatar
        img(src=cuser.avatar_url)

      - if (currentUrl == 'edit')
          a(href='#') Remove account
      - else
        .profile-name
          b= cuser.user_fullname
          br
          a(href='http://www.github.com/' + cuser.user_name)= cuser.user_name
        - if (cuser.location && (cuser.location_pub || cuser.user_name == user.user_name))
          .profile-info.profile-info-location
            = cuser.location
        - if (cuser.user_email && (cuser.email_pub || cuser.user_name == user.user_name))
          .profile-info.profile-info-email
            = cuser.user_email
        - if (cuser.join_us)
          .profile-info.profile-info-date Joined on
            = " " + (cuser.join_us).toString().substring(4, 16)
        .profile-numbers

        - if (everyauth.loggedIn)
          - if (user.user_name == cuser.user_name)
            a(href='/' + user.user_name + '/notifications') Notifications
            br
            a(href='#', onclick='shareOnFacebook()') Share score
            br
            a(href='/' + user.user_name + '/edit') Edit profile
            br
            a(href='/logout') Logout

    .profile-right
      - if (currentUrl == '')
        .profile-points
          .ideas-desc-top-square= cuser.tentacles
            h5 tentacles
          h1= cuser.points_repos + cuser.points_ideas + " cups "
          a(href='/' + cuser.user_name + '/cups')  View all points


        .spacer
      - if (currentUrl == 'cups')
        .profile-list
          .profile-header Cups
          .profile-item
            a(href='/' + cuser.user_name + '/ideas') Ideas
            .profile-repo-points= cuser.points_ideas
            .profile-repo-desc Cups received for user ideas.
          .profile-item
            a(href='/' + cuser.user_name + '/projects') Projects
            .profile-repo-points= cuser.points_projects
            .profile-repo-desc Cups received for user projects.
          .profile-item
            a(href='/' + cuser.user_name + '/repos') Repos
            .profile-repo-points= cuser.points_repos
            .profile-repo-desc Cups received for user repos.


      - if (currentUrl == '' || currentUrl == 'ideas')
        .profile-list
          .profile-header Ideas
          - if (ideas.length == 0)
            .profile-item No ideas. Get started now!
          - else
            - each idea in ideas
              .profile-item
                a(href='/idea?id=' + idea._id)= idea.title
                - if (idea.points != 0)
                  .profile-repo-points= "+" + idea.points
                .profile-repo-desc
                  = idea.description
            - if (currentUrl == '')
              .profile-item
                a(href='/' + cuser.user_name + '/ideas')
                  b View all ideas


        .spacer
      - if (currentUrl == '' || currentUrl == 'projects')
        .profile-list
          .profile-header Projects
          - if (projects.length == 0)
            .profile-item No projects. Get to work!
          - else
            - each project in projects
              .profile-item
                a(href='/project?id=' + project._id)= project.title
                - if (project.points != 0)
                  .profile-repo-points= "+" + project.points
                .profile-repo-desc
                  = project.description
            - if (currentUrl == '')
              .profile-item
                a(href='/' + cuser.user_name + '/projects')
                  b View all projects

        .spacer
      - if (currentUrl == '' || currentUrl == 'repos')
        .profile-list
          .profile-header All public repositories
          - if (cuser.repos == 0)
            .profile-item No personal repos.
          - else
            - each repo in cuser.repos
              .profile-item
                - if (repo.fork)
                  .profile-repo-icon-forked
                - else
                  .profile-repo-icon
                .profile-repo-name
                  a(href=repo.html_url)= repo.name
                - if (repo.points != 0)
                  .profile-repo-points= "+" + repo.points
                .profile-repo-desc
                  = repo.description
            - if (currentUrl == '')
              .profile-item
                a(href='/' + cuser.user_name + '/repos')
                  b View all repos

      - if (currentUrl == 'notifications')
        .profile-notif
          .profile-header Your notifications
          - each n in notif
            .profile-item
              - if (n.type == 'idea_comm')
                = n.src + " commented on your "
                  a(href=n.link) idea
                  = ", " + n.date_f + "."
              - if (n.type == 'proj_comm')
                = n.src + " commented on your "
                  a(href=n.link) project
                  = ", " + n.date_f + "."
              - if (n.type == 'following_no')
                = "You have " + n.link + " users following."
              - if (n.type == 'followers_no')
                = "You have " + n.link + " followers."
              - if (n.type == 'watch_count')
                = "Repo " + n.src + " " + n.link + " watcher(s). "
              - if (n.type == 'fork_count')
                = "Repo " + n.src + " " + n.link + " user fork(s). "
              - if (n.type == 'pull_accepted')
                = "Repo " + n.src + " accepted your pull request."

      - if (currentUrl == 'edit')
        .profile-edit
          h2 Edit your profile
          br
          form(method='post', action='/profile/edit')
            label Full name
            input.span5(name='fullname', type='text', value= cuser.user_fullname, required)
            label Location
            input.span5(name='location', type='text', value= cuser.location)
            br
            - if (cuser.location_pub)
              input(name='location_pub', type='checkbox', checked)
            - else
              input(name='location_pub', type='checkbox')
            = " Make my location public."
            br
            br
            label Email
            input.span5(name='email', type='email', value= cuser.user_email, required)
            br
            - if (cuser.email_pub)
              input(name='email_pub', type='checkbox', checked)
            - else
              input(name='email_pub', type='checkbox')
            = " Let others see my email address."
            br
            br
            input.btn.btn-success(id='sub', type='submit', value='Update')
  .spacer
  .spacer
