extends layout

block content
  #menu

  #content
    .profile-left
      .profile-avatar
        img(src=cuser.avatar_url)
      .profile-name
        b= cuser.user_fullname
        br
        a(href='http://www.github.com/' + cuser.user_name)= cuser.user_name
      - if (cuser.location) 
        .profile-info.profile-info-location
          = cuser.location
      - if (cuser.user_email)
        .profile-info.profile-info-email
          = cuser.user_email
      - if (cuser.join_us)
        .profile-info.profile-info-date Joined on 
          = (cuser.join_us).toString().substring(4, 16)
      .profile-numbers
        
      - if (everyauth.loggedIn)
        - if (user.user_name == cuser.user_name)
          a(href='#', onclick='shareOnFacebook()') Share score
          br
          a(href='/edit-profile') Edit profile
          br
          a(href='/logout') Logout
        
    .profile-right
      .profile-ideas
        .profile-header Ideas
        - each idea in ideas
          .profile-idea
            a(href='/idea?id=' + idea._id)= idea.title
            - if (idea.points != 0) 
              .profile-repo-points
                | +
                = idea.points
            .profile-repo-desc
              = idea.description
      
      .spacer
      .profile-ideas
        .profile-header Projects
        - each project in projects
          .profile-idea
            a(href='/project?id=' + project._id)= project.title

      .spacer
      .profile-repos
        .profile-header All public repositories
        - each repo in cuser.repos
          .profile-repo
            - if (repo.fork)
              .profile-repo-icon-forked
            - else
              .profile-repo-icon
            .profile-repo-name
              a(href=repo.html_url)= repo.name
            - if (repo.points != 0)
              .profile-repo-points
                | +
                = repo.points
            .profile-repo-desc
              = repo.description