extends layout

block content
  - if(!everyauth.loggedIn)
    .announcement
      .announcement-inner
        p= "You need to "
          a(href='/login') login
          |  to comment or post your own projects.
    .spacer

  #menu
    - if (everyauth.loggedIn)
      form(method='post', action='/projects')
        #idea-new
          h1 Add a new project
          .left-box
            #left-mini-title
              label Repository
              select.selectpicker.span5(id='idt', name='repo')
                - each r in user.repos
                  option= r.name

            .left-mini
              label Short title
              input.span5(name='title')

              br
              br
              label Type
              .btn-group
                button.btn.active#bug(type='button', value='bug') Bug
                button.btn#feature(type='button', value='feature') Feature
              input#type(name='type', type='hidden', value='bug')
          .right-mini

            label Project Size
            select.selectpicker.span5(name='size')
              option Small
              option Medium
              option Large

            label Used language
            select.selectpicker.span5(name='lang')
              - each l in lang_opt
                option= l

          .center-mini
            label Description
              br
            textarea.span11(name='description', id='no_resize_textarea', rows="4", required)
            input.btn.btn-success(id='sub', type='submit', value='Save')

      .spacer

  #content
    .left
      - if (projects.length != 0)
        - if (repo)
          h1= repo + " projects"
        - else
          h1 Projects list

        .search
          form(method='POST', action='')
            input.span4(type='text', id='search_box', placeholder='Projects filter . . .')
            select.selectpicker.span2.pull-right.projects-search-fields(id='select-size', name='size')
              option -Size-
              option Small
              option Medium
              option Large

            select.selectpicker.span2.pull-right.projects-search-fields(id='select-type', name='type')
              option -Type-
              option Bug
              option Feature

        #idea-table-header
          ul
            li
              - if (sort == "most_recent")
                | Most recent
              - else
                a(href=currentUrl+ '?sort=most_recent') Most recent
            li
              - if (sort == "most_followed")
                | Most followed
              - else
                a(href=currentUrl + '?sort=most_followed') Most followed
            li
              - if (sort == "most_commented")
                | Most commented
              - else
                a(href=currentUrl + '?sort=most_commented') Most commented

      - if (projects.length != 0)
        .ideas-bubble
          - each p in projects
            .idea
              .idea-title
                .idea-title-text
                  a(href='/project?id=' + p._id)= p.title

                - if (!p.fav)
                  .project-title-fav(id='#{p._id}')
                - else
                  .project-title-fav-selected(id='#{p._id}')

              .idea-content
                p(class='type', hidden='hidden')= p.type
                p(class='size', hidden='hidden')= p.size
                p!= p.description
              .idea-footer
                .idea-footer-left
                  .idea-footer-comments
                    = p.comments_num
                .idea-footer-right
                  | by
                  a(href='/' + p.user_name)= " " + p.user_name
                  | , #{p.date_post_f}

      - else
        - if (currentUrl == "/projects_fav")
          h3 You have no favorite projects.
        - if (currentUrl == "/projects_user")
          h3 You have not added any projects.

    .right
      .submenu
        - if (currentUrl == "/projects")
          .submenu-item-selected All
        - else
          a(href='/projects')
            .submenu-item All

        - if (currentUrl == "/projects_fav")
          .submenu-item-selected Followed
        - else
          a(href='/projects_fav')
            .submenu-item Followed

        - if (currentUrl == "/projects_user")
          .submenu-item-selected Mine
        - else
          a(href='/projects_user')
            .submenu-item Mine

    .spacer
