extends layout

block content
  - if(!everyauth.loggedIn)
    .announcement
      .announcement-inner
        p= "You need to "
          a(href='/login') login
          |  to comment or post your own projects.
    .spacer
    .spacer

  #menu
    #idea-desc
      #idea-desc-top
        #idea-desc-top-title= project.title
        | Posted #{project.date_post_f}.
      .spacer

      #idea-description-right
        a(href=repo.html_url)
          .description-item
            = "#" + repo.name
        .description-item
          div(style="float: right;")= repo.watchers_count
          = "Watchers: "
        .description-item
          div(style="float: right;")= repo.forks_count
          = "Forks: "
        .description-item
          div(style="float: right;")= project.comments_num
          = "Comments: "
        a(href="/projects?repo=" + project.repo)
          .description-item Other projects

      #idea-description
        h5!= project.description

      #idea-tags
        p
          a.tag(href='/projects?type=' + project.type.toLowerCase())= "#" + project.type.toLowerCase()
          a.tag(href='/projects?lang=' + project.lang.toLowerCase())= "#" + project.lang.toLowerCase()
          a.tag(href='/projects?size=' + project.size.toLowerCase())= "#" + project.size.toLowerCase()

      .spacer
      .spacer
      #idea-desc-buttom
        #idea-desc-buttom-right
          img(src=cuser.avatar_url, width="50px", height="50px")
          a(href='/' + cuser.user_name)= cuser.user_name
          br
          | last seen #{cuser.last_seen_f}

        - if (!user)
          a(href="/login?rf=follow")
            input.btn.btn-success(type='submit', value='Follow').idea-desc-buttom-btn
        - if (user && !user.faved)
          a(href="/projects/follow?id=" + project._id)
            input.btn.btn-success(type='submit', value='Follow', disabled).idea-desc-buttom-btn
        - if (user && user.faved)
          a(href="/projects/unfollow?id=" + project._id)
            input.btn.btn-success(type='submit', value='UnFollow', disabled).idea-desc-buttom-btn
        - if (user && project.user_name == user.user_name && currentUrl == '/project')
          a(href="/project/settings?id=" + project._id)
            input.btn.btn-success(type='submit', value='Edit').idea-desc-buttom-btn


      .spacer
    .spacer

  #content
    .left

      - if (currentUrl == '/project/settings')
        h3 Edit your project
        form(method='post', action='/projects/edit?id=' + project._id)
          label Project Size
          select.selectpicker.span5(name='size')
            option Small
            option Medium
            option Large

          label Used language
          select.selectpicker.span5(name='lang')
            - each l in lang_opt
              - if (l == project.lang)
                option(selected)= l
              - else
                option= l

          label Description
          textarea.span8(name='description', id='no_resize_textarea', rows="4")= project.description
          br
          input.btn.btn-success(id='plan', type='submit', value='Update')

        br
        h3 Remove your project
        form(method='post', action='/projects/remove?id=' + project._id)
          input.btn.btn-danger(id='remove_project', type='submit', value='Remove project')
          b  It cannot be undone.

      - else if (currentUrl == '/project')
        - if (comments && comments.length != 0)
          - each c in comments
            if (c.flags.length < 10)
              .comment-long
                a(href='/' + c.user_name)= c.user_name + ": "
                = c.content
                .comment-bottom
                  .upvotes(id="#{c._id}#")= c.upvotes.length
                  - if (c.upvote)
                    .upvoted(id="#{c._id}")
                  - else
                    .upvote(id="#{c._id}")
                  - if (c.flag)
                    .flagged(id="#{c._id}f")
                  - else
                    .flag(id="#{c._id}f")
                  | Posted #{c.date_f}
            - else
              .comment-long(id="#{c._id}_com")
                a(href='/' + c.user_name)= c.user_name + ": "
                = "This comment received too many flags. Click "
                  a(href='#', class='show_comment', id='#{c.id}') here
                  = ' to see comment.'
              .hidden_comment(id="#{c._id}_comm")
                a(href='/' + c.user_name)= c.user_name + ": "
                = c.content
                .comment-bottom
                  .upvotes(id="#{c._id}#")= c.upvotes.length
                  - if (c.upvote)
                    .upvoted(id="#{c._id}")
                  - else
                    .upvote(id="#{c._id}")
                  - if (c.flag)
                    .flagged(id="#{c._id}f")
                  - else
                    .flag(id="#{c._id}f")
                  | Posted #{c.date_f}.

        - else
          h1 Be the first one to comment.

        - if (everyauth.loggedIn)
          .comment-long
            form(method='post', action='/projects/comment?id=' + project._id)
              img(src=user.avatar_url, width="60px", height="60px")
              textarea.span10(name='content', style="margin:10px 0px 10px 5px")
              input.btn.btn-success(type='submit', value='Comment')

  .spacer
